@model hotel_santa_ursula_II.Models.Habitaciones
@{
    ViewData["Title"] = "Habitaciones";
}
<div class="container">
    <div class="col-md-4">

        <h1 class="display-4">Habitaciones</h1><br>

        <form asp-controller="Habitaciones" asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-left">
                <label asp-for="idtipo" class="control-label"></label>
                <input asp-for="idtipo" class="form-control">
                <span asp-validation-for="idtipo" class="text-danger"></span>
            </div>
            <div class="form-group text-left">
                <label asp-for="numero" class="control-label"></label>
                <input asp-for="numero" class="form-control">
                <span asp-validation-for="numero" class="text-danger"></span>
            </div>
            <div class="form-group text-left">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control">
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>

            <div class="form-group text-left">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control">
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group text-left">
                <label asp-for="nivel" class="control-label"></label>
                <input asp-for="nivel" class="form-control">
                <span asp-validation-for="nivel" class="text-danger"></span>
            </div>
            <div class="form-group text-left">
                <label asp-for="disponible" class="control-label"></label>
                <input asp-for="disponible" class="form-control">
                <span asp-validation-for="disponible" class="text-danger"></span>
            </div>
            <div class="form-group text-left">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control">
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-success">Registrar</button>
            </div>
        </form>
    </div>
</div>