@{
    ViewData["Title"] = "Contacto";
}
<head> 
   <script src="https://kit.fontawesome.com/c239d89a06.js" crossorigin="anonymous"></script>      
</head>

<body>
<!--Inicio Banner-->
<div class="hero-wrap hero-wrap-2" style="background-image: url('../images/banner1.jpg'); background-attachment:fixed; height: 200px;">
      <div class="overlay" style="height: 200px;" ></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="height: 200px;">
           <div class="col-md-8 ftco-animate text-center">          
             <h1 class="mb-3 bread">Formulario de Contacto</h1>
            </div>
          </div>
       </div>
</div>    
<!--Fin Banner-->


  <div class="contact_form">

    <div class="formulario">      
        <p>Escríbenos y en breve los pondremos en contacto contigo</p>

          <form action="submeter-formulario.php" method="post">       
            
                <p>
                  <label for="nombre" class="colocar_nombre">Nombre
                    <span class="obligatorio">*</span>
                  </label>
                    <input class="form-control rounded-pill" required="obligatorio" placeholder="Escribe tu nombre">
                </p>              
                <p>
                  <label for="email" class="colocar_email">Email
                    <span class="obligatorio">*</span>
                  </label>
                    <input class="form-control rounded-pill" required="obligatorio" placeholder="Escribe tu Email">
                </p>
            
                <p>
                  <label for="telefone" class="colocar_telefono">Teléfono
                  </label>
                    <input class="form-control rounded-pill" placeholder="Escribe tu teléfono">
                </p>    
              
                <p>
                  <label for="website" class="colocar_website">Sitio web
                  </label>
                    <input class="form-control rounded-pill" placeholder="Escribe la URL de tu web">
                </p>    
              
                <p>
                  <label for="asunto" class="colocar_asunto">Asunto
                    <span class="obligatorio">*</span>
                  </label>
                    <input class="form-control rounded-pill" required="obligatorio" placeholder="Escribe un asunto">
                </p>    
              
                <p>
                  <label for="mensaje" class="colocar_mensaje">Mensaje
                    <span class="obligatorio">*</span>
                  </label>                     
                    <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" required="obligatorio" placeholder="Deja aquí tu comentario..."></textarea> 
                    </p>                    
              
                <button class="button">Enviar</button>
                <br>
                <br>
                <p class="aviso">
                  <span class="obligatorio"> * </span>los campos son obligatorios.
                </p>          
            
          </form>
    </div>  
  </div>

</body>
</html>