@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="a">
    <h2 align="center " data-aos="fade-in">REGISTRO CONFIRMADO</h2>
    <img src="~/images/check.png" alt="..." style="width: 200px; height:150px">
</div>


<style>
    .a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>